{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseUrl }}
{{ $categories := .Params.categories }}
{{ $tags := .Params.tags }}

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <article class="li-article">
                    <header class="li-article-header">
                        <h1 class="li-article-title">{{ .Title }}</h1>
                        <time class="li-article-date">{{ .Date.Format "Monday, January 2, 2006" }}</time>
                    </header>
		    <style type="text/css">
			    blockquote {
				    margin: 0 10px;
				    margin-top: 1em;
				    padding: 0.25em 25px;
				    position: relative;
				    background-color: lightyellow;
			    }
			    blockquote:before {
				    font-family: Georgia, serif;
				    display: block;
				    content: "\201C";
				    font-size: 80px;
				    position: absolute;
				    left: -10px;
				    top: -10px;
				    color: #7a7a7a;
			    }
		    </style>
                    <section>
                        {{ .Content }}
                    </section>
                    <span class="li-article-taxonomies">
                        Posted
                        {{ with $categories }}
                            in
                            {{ range $categories }}
                                <a href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        {{ end }}

                        {{ with $tags }}
                            with tags
                            {{ range $tags }}
                                <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        {{ end }}
                    </span>
                </article>
            </div>
        </div>

        {{ partial "disqus.html" .}}

        <div class="row li-pagination">
            <div class="eight columns">
                <div class="li-pagination-previous">
                    {{with .Prev}}
                        Later article<br />
                        <a href="{{.Permalink}}"> {{.Title}}</a>
                    {{else}}
                        &nbsp;
                    {{end}}
                </div>
            </div>
            <div class="eight columns">
                <div class="li-pagination-next">
                    {{with .Next}}
                        Older article<br />
                        <a href="{{.Permalink}}"> {{.Title}}</a>
                    {{else}}
                        &nbsp;
                    {{end}}
                </div>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
